.jBar {
	position:relative;
	margin:0;
	padding:5px;
	background:#DB5903 url(../img/shine.png) repeat-x 0 0;
	color:#FFF;
}

.jBar .helloinner {
	display:block;
	margin:0 auto;
	padding:0;
	width:1000px;
}

.jBar .downarrow {
	position:absolute;
	top:5px;
	right:55px;
	background:url(../img/arrow-up.png) no-repeat center center;
	width:35px;
	height:33px;
	padding:0;
	margin:0;
}

.jBar .text {
	padding:7px 0;
	margin:0;
	font-weight:900;
	text-align:center;
}

.jBar .text a {
	font-weight:500;
	color:#333;
	margin:0 10px;
	padding:5px 10px;
	background:#F9F9F9;
	border-radius:3px;
	box-shadow:0 0 5px #777;
}

.jBar .text a:hover {
	background:#EEE;
	color:#111;
}

.jRibbon {
	position:absolute;
	right:50px;
	padding:3px;
	background:#DF5A02 url(../img/arrow-down.png) no-repeat center center;
	width:35px;
	height:33px;
	border:3px solid #FFF;
	box-shadow:0 2px 5px #777;
	color:#FFF;
	border-radius:0 0 3px 3px;
}

.jTrigger {
	cursor:pointer;
}

.top .jBar{
	border-bottom:3px solid #FFF;
}

.top .jRibbon {
	top:0px;
	border-top:none;
}

.top .jRibbon.up {
	top:-50px;
}

.bottom .jBar {
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	border-top:3px solid #FFF;
}

.bottom .jRibbon {
	bottom:0px;
	border-bottom:none;
	border-radius:3px 3px 0 0;
	background:#DF5A02 url(../img/arrow-up.png) no-repeat center center;
}

.bottom .jRibbon.up {
	bottom:-50px;
}

.bottom .jBar .downarrow {
	background:url(../img/arrow-down.png) no-repeat center center;
}
